@model Tutor_hire_system.Models.Job

@{
    Layout = "_TutorLayout";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAccepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAccepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutor.TutorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
